body{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid{
  display: grid;
  grid: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 1fr ;
  grid-template-areas: 
  'header header header header header header'
  '. siderbar-left container container siderbar-rigth .';
}

.header{
  grid-area: header;
  background-color: brown;
}

.siderbar-left{
  grid-area: siderbar-left;
  background-color: blue;
}

.container{
  grid-area: container;
  background-color: wheat;
}

.siderbar-rigth{
  grid-area: siderbar-rigth;
  background-color: steelblue;
}